
@mixin btn($radiusSize, $backColor) {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: $radiusSize;
    border: 2px solid white;
    @include Zindex();
    
    &:hover {
        cursor: default;
        background-color: $backColor;
    }
}

@mixin font() {
    font-family: 'Calibri';
    font-weight: normal;
    font-size: 20px;
}

@mixin Zindex() {
    position: relative;
    z-index: 1;
}

@mixin gradient($color) {
    background: linear-gradient(rgba(white, 0), $color 30);
}

$boxShadow: 0 8px 9px 0px rgba($color: #000000, $alpha: 0.21);
$clGreen: #6ea480;
$clGrey: #828282;
$clPink: #dd3575;
$clDarkGrey: #4f4848;
$clBlue: #61a0be;

.block-start {
    transform: translateX(2000px);

    > * {
        opacity: 0;
    }
}

.block-end {
    transition: transform 1s, opacity 3s;
    transform: translateX(0px);
    > * {
        opacity: 1;
    }
}

.green-form-start {
    min-height: 0 !important;
    height: 0 !important;
}

.green-form-end {
    transition: height 1s;
}

* {
    box-sizing: border-box;
}

html, body, .main {
    margin: 0;
    padding: 0;
    width: 100%;
    @include font();
    overflow-x: hidden; 
}

.main {
    background: linear-gradient(rgba(white, 0), #d2e9de 10%, white 40%), 
                url(./images/mainBack.png) no-repeat;
    background-size: 100%;
    display: flex;
}

section {
    // min-height: 6200px;
    max-width: 1706px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 3.2vw;
    flex: 1 1 auto;
}

header {
    
    min-height: 680px;

    width: 100%;    
    display: flex;
    justify-content: space-between;
    position: relative;
}

.header-left {
    // flex: 0 1 1101px;
    width: 64.5%;
    height: 625px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.header-left-top {
    max-width: 966px;
    width: 100%;
    height: 105px;
    display: flex;
    align-items: center;
    margin: 37px 0 41px 0;

    .nav-bar {
        margin-left: 37px;
    }
}

.fa-bars {
    @include Zindex();
    color: white;
    &:hover {
        box-shadow: $boxShadow;
    }
}

.nav-bar {
    height: 33px;
    width: 739px;
    font-size: 0.8rem;
    font-weight: bold;
    background: white;
    border-radius: 16px;
    box-shadow: $boxShadow;
    transition: width 2s;

    ul {
        width: 100%;
        height: 100%;
        list-style-type: none;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        padding: 0;
        margin: 0;
        color: $clGrey;
        transition: opacity 0.5s;
        @include Zindex();

        li {
            flex-shrink: 0;
        }

        li:hover {

            color: $clGreen;
            cursor: pointer;
        }
    }

    a {
        width: 100%;
        height: 100%;
    }
}

.nav-bar-hide {
    width: 0px;

    ul {
        opacity: 0;
    }
}

.logo {
    width: 136px;
    height: 106px;
    background-image: url(./images/logo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: auto;
}

.header-left-bottom {
    flex: 0 1 1046px;
    display: flex;
    margin: 0 0 0 55px;
    // align-self: flex-end;
}

.descrip-field {
    flex: 1 1 auto;
    height: 444px;

    border: 2px solid white;
    background-color: rgba($color: white, $alpha: 0.5);
    border-radius: 30px;
    margin-left: 69px;
    display: flex;
    align-items: flex-end;
    padding: 41px;
}

.media {
    height: 92px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

#carouselExampleCaptions {
    width: 68%;
    position: absolute;
    top: 40px;
    left: 210px;

    img {
        max-width: 850px;

        // width: 68%;
        // margin-right: 45px;


        width: 70%;
        margin-right: 40px;
    }
}

.carousel-item.active, 
.carousel-item-next, 
.carousel-item-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 710px;
}

.carousel-caption {
    height: 400px;

    display: flex !important;
    flex-direction: column;

    color: $clDarkGrey;
    text-align: left;

    bottom: auto;
    right: auto;
    left: 0;
    top: 22%;
    z-index: auto;

    h5 {
        width: 510px;
        height: auto;
        font-size: 1.5rem;
        font-weight: bold;
        display: block;
        padding: 0;
    }

    p {
        width: 463px;
        height: auto;
        font-size: 0.9rem;
        font-weight: normal;
        line-height: 22px;
    }

    a {
        @include btn(31px, $clPink);
        // height: 62px;
        height: 15%;
        // width: 330px;
        width: 50%;
        min-width: 150px;
        background-color: $clGreen;
        color: white !important;
        font-size: 0.75rem;
        box-shadow: $boxShadow;
        margin-top: auto;
    }
}

.carousel-indicators {

    width: 85px;
    height: 12px;
    padding: 0;
    margin: 0;
    left: 0;
    bottom: 12.5%;
    justify-content: space-between;
    li {
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background-color: $clGrey;
        background-clip: padding-box;
        opacity: 1; 
    }

    .active {
        background-color: $clPink;
    }
}

.carousel-control-next {
    width: 30px;
    height: 30px;
    top: auto;
    bottom: 12.8%;
    left: 100px;
    font-size: 2rem;
    color: $clGrey;
    z-index: 2;

    &:hover {
        color: $clPink;
    }
    
    &:focus {
        color: $clGrey;
        &:hover {
            color: $clPink;
        }
    }
}

.carousel-control-next-icon {

    background-image: none;
    
}

.header-right {
    min-width: 330px;
    max-width: 483px;
    height: 720px;
    display: flex;
    flex-direction: column;
    width: 28.32%;
    flex: 0 2 auto;

    > a {
        margin-top: 20px;
        align-self: flex-end;
    }
}

.green-form {
    min-height: 415px;
    
    width: 100%;

    background-image: url(./images/greeFormBack.jpg);
    border: 10px solid white;
    border-top: none;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    flex: 0 1 649px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white;
    padding: 0 8px 8px;
}

.green-form-top {
    height: 17.84%;
    width: 80%;
    display: flex;
    align-items: flex-end;
    font-size: 0.8rem;
    padding-bottom: 10%;

    a {
        background-color: rgba($color: white, $alpha: 0.3);
        @include btn(30px, rgba(white, 0.7));
        width: 179px;
        height: 43px; 
        margin: 0 10px;
        min-width: 150px;
    }

    p {
        margin: 0 10px;
        
        flex-shrink: 0;
    }
}

.green-form-bottom {
    width: 100%;
    height: 78.27%;
    border: 2px solid white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green-form-bottom-content {
    height: 77.95%;

    width: 325px;
    height: 382px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.green-form-content-top {
    flex: 0 1 153px;
    display: flex;
    justify-content: space-between;

    div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
            margin: 0;
            line-height: 1.2;
        }

        p:first-child {
            font-weight: bold; 
            font-size: 1.6665rem;   
        }
        p:nth-child(2) {
            font-size: 0.85rem;
            font-weight: bold;
        }
    }

    img {
        flex-shrink: 0;
    }
}

.green-form-content-bottom {

    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    input {
        height: 56px;
    }

    input::placeholder {
        color: black;
        font-weight: bold;
        font-style: italic;
    }

    input:not(.btn) {
        border-radius: 30px;
        font-weight: bold;
        font-style: italic;
        color: black;
        padding: 0 20px;
        font-size: 0.85rem;
        @include Zindex();
    }

    .btn {
        @include btn(30px, $clGreen);
        background-color: $clPink;
        font-size: 0.85rem;
    }   
}

.youtube {
    font-size: 1.5rem;
    font-weight: bolder;
    color: black;
    display: flex;
    align-items: center;

    &:hover {
        text-decoration: none;
        color: black;
    }

    p {
        width: 75px;
        font-style: italic;
        font-size: 0.6rem;
        margin: 0 0 0 5px;
    }

    i {
        font-size: 2rem;
        color: red;
        margin: 0 5px 0 0;
    }
}

.block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 40px;
}

.directions-sliders-container {
    display: none;
}

.directions-content {
    width: 92%;
    display: flex;
    justify-content: space-between;
}

.directions-container {
    flex: 0 0 1244px;
    min-height: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin: auto;
}

.info {
    height: 1050px;
    flex: 0 0 311px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    > p {
        width: 90%;
        text-align: end;
        font-size: 0.8rem;

        span {
            font-size: 1.1rem;
        }
    }

    > a {
        align-self: center;
    }
}

.vk-feedback {
    width: 192px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    opacity: 0.5;
    
    &:hover {
        cursor: pointer;
        opacity: 1;
    }

    p {
        width: 81px;
        color: #94cad4;
        font-weight: bold;
        font-size: 1.1rem;
        font-style: italic;
        margin: 0;
        flex-shrink: 1;
    }
}

.give-request {
    @include btn(31px, rgba($clGreen, 1));
    height: 62px;
    width: 252px;
    background: rgba($clGreen, 0.5);
    font-weight: bold;
    font-size: 0.85rem;
    
}

.direction {
    width: 395px;
    height: 538px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: $boxShadow;
    border-radius: 20px;

    img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 20px;
    }
}

.direction-content {
    width: 88.86%;
    height: 88.29%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    z-index: 0;

    h5 {
        font-size: 1.5rem;
        font-weight: bold;
        width: 50%;
        margin-bottom: 20px;
    }
    
    p {
        font-size: 0.8rem;
        font-weight: normal;
        width: 59%;
        line-height: 17px;
    }   

    a {
        @include btn(31px, $clPink);
        height: 62px;
        width: 240px;
        background-color: $clGreen;
        font-weight: bold;
        font-size: 0.85rem;
        box-shadow: $boxShadow;
        border: 1px solid white;
    }
}

.block-name {
    width: 100%;
    color: $clDarkGrey;
    font-size: 1.5rem;
    font-weight: bold;
    margin: -10px 0 30px 0;
    &::before {
        content: "_______"; 
        font-weight: normal;   
        margin-right: 27px;
    }
}

.cols3-content {
    width: 92%;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;

    p {
        width: 30%;
        line-height: 22px;
    }
}

#carouselText {
    display: none;
}

.black-bold-italic {

    color: $clDarkGrey;
    font-weight: bold;
    font-style: italic;
}

#carouselBenefits {
    display: none;
}

.benefit-start {
    transform: translateX(2000px);
}

.benefit-end {
    transition: transform 1.5s;
    transform: translateX(0px);
}

.benefits {
    overflow: hidden;    

    > P {
        width: auto;
        align-self: flex-end;
    }
}

.benefits-content {
    width: 92%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > img {
        z-index: 0;
        width: 100%;
        position: absolute;
        left: 0;
    }
}

.blueBnft {
    @include gradient(#d4f2f3);
}

.violetBnft {
    @include gradient(#ede1fb);
}

.pinkBnft {
    @include gradient(#fed4e9);
}

.greenBnft {
    @include gradient(#e2f6d3);
}

.orangeBnft {
    @include gradient(#f8dfd5);
}

.benefit {
    max-width: 298px;
    height: 598px;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    font-size: 0.8rem;

    p {
        width: 79.865%;
        text-align: center;
        line-height: 22px;
        margin-top: -40px;

        span {
            width: 63.087%;
        }
    }
}

.big-form {
    margin-top: 50px;
    // height: 541px;
    // flex: 0 1 541px;
    color: white;
}

.big-form-content {
    width: 92%;
    height: 541px;
    background: url(./images/bigFormBack.jpg);
    background-size: 100% 100%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $boxShadow;
}

.big-form-container {
    // width: 72.6%;
    width: 1140px;
    // height: 65.25%;
    height: 353px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;

    .media {
        align-self: flex-end;
        margin: 0;
    }
    
    > p {
        width: 100%;
        color: white;
        margin: 0;
        margin-left: 16px;
    }    
}

.big-form-content-bottom {
    height: 71%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    form {
        flex: 0 1 1007px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
    }   

    input[type="submit"] {
        @include btn(30px, $clGreen);
        background: $clPink;
        width: 100%;
        flex: 0 1 auto;
    }

    input {
        height: 60px;
        width: 32%;
        
        border-radius: 30px;
        padding: 0 20px;
    }

    input[type="checkbox"] {
        height: auto;
        width: auto;
    }

    textarea {
        width: 66%;
        height: 172px;
        border-radius: 30px;
        padding: 20px 20px;
        resize: none;
    }

    input::placeholder, textarea::placeholder {
        color: $clDarkGrey;
        font-weight: bold;
    }

    form div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        // flex: 0 0 30%; 
        width: 31%;

        p {
            width: 270px;
            height: auto;
            font-size: 11px;
            line-height: 12px;
        }
    }
}

#carouselPhotogallery {
    display: none;
}

.photogallery-content {
    width: 92%;
    min-height: 731px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photogallery-container {
    flex: 0 1 1014px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.photos {
    width: 494px;
    height: 348px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 20px;
    box-shadow: $boxShadow;

    > img {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;  
        border-radius: 20px;
    }
}

.photos-content {
    width: 89.88%;
    height: 80.80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    @include Zindex();

    p {
        width: 190px;
        margin: 0;
    }

    a {
        @include btn(31px, $clPink);
        font-size: 0.85rem;
        width: 240px;
        background: $clGreen;
        padding: 7px 7px 7px 0;
        justify-content: flex-end;

        p {
            flex: 0 1 auto;
            text-align: center;
        }
    }
}

.polina {
    height: 731px;
    // flex: 0 2 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    > img {
        margin-top: -55px;
        // width: 100%;
    }

    a {
        @include btn(35px, rgba(white, 0.5));
        box-shadow: $boxShadow;
        color: white !important;
        font-weight: bold;
        font-size: 0.85rem;
        padding: 8px 8px 8px 0;
        justify-content: flex-end;


        p {
            flex: 1 1 auto;
            text-align: center;
        }

        * {
            margin: 0;
        }

        &:hover {
            opacity: 0.5;
        }
    }

    a:nth-child(2) {
        width: 223px;
        background-color: #61a0be;
    }

    a:nth-child(3) {
        width: 330px;
        background-color: #9457ad;
    }
}

.link-content {
    width: 92%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.map-content {
    width: 92%;
    height: 466px;
    display: flex;
    justify-content: space-between;

    > div {
        border: 2px solid $clGreen;
        box-shadow: $boxShadow;
        border-radius: 25px;
    }
}

#map {
    width: 68%;
    overflow: hidden;

    .ymaps-2-1-74-map {
        width: 100% !important;
        height: 100% !important;
    }
}

.map-legend {
    width: 30%;
    min-width: 384px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.legend-content {
    // width: 77.44%;
    // height: 78.14%;
    width: 361px;
    height: 361px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
        width: 95%;
        align-self: flex-end;
    }

    ul {
        list-style-type: none;
        font-weight: bold;
        margin: 0;
        padding: 0;

        li {
            color: $clGreen;
            display: flex;
            flex-wrap: nowrap;

            &:before {
                height: 40px;
                min-width: 8px;
                content: "";
                background: $clGreen;
                margin-right: 50px;
            }

            &:hover {
                cursor: pointer;
                color: black;
                &:before {
                    color: $clGreen;
                }
            }

            p {
                line-height: 22px;
            }
        }

        li.active {
            color: black;

            &:before {
                background: red;
            }
        }
    }
}

footer {
    margin-bottom: 40px;
}

.footer-content {
    width: 92%;
    // height: 118px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .nav-bar {
        background: $clGreen;
    }

    ul {
        color: white;

        li:hover {
            color: black;
        }
    }
}

.ORMatrix {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    color: #d978cc;
    
    img {
        box-shadow: $boxShadow;
        border-radius: 20px;
    }

    p {
        margin: 0 0 0 10px;
        font-size: 0.7rem;
    }
}

.upBtn {
    width: 113px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    

    a {
        text-decoration: none;
        width: 44px;
        height: 33px;
        background: red;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        box-shadow: $boxShadow;
        padding-top: 6px;

        p {
            transform: rotate(-90deg);
            font-size: 3rem;
            margin: 0 7.5px 0 0;
        }
    }
    
    > p {
        color: red;
        font-weight: bold;
        margin: 0;
    }
}

.arrowUp {
    width: 15px;
    height: 15px;
    border: 2px solid white;
    border-left: none;
    border-bottom: none;
    transform: rotate(-45deg);
}

@media(min-width: 1930px) {

    .main {
        justify-content: center;
    }
}

@media(max-width: 1800px) {

    .directions-content {
        justify-content: center;
    }

    .directions-container {
        flex: 0 0 815px;
        min-height: 1614px + 40px;
    }

    #carouselBenefits {
        width: 298px;
        height: 610px;
        display: flex;
        margin: 0 auto;

        .carousel-inner,
        .carousel-item {
            width: 100%;
            height: 100%;
        }

        .active,
        .carousel-item-next,
        .carousel-item-right {
            display: flex;
            align-items: flex-start;
        }

        .carousel-indicators {
            bottom: 0px;
            right: 30px;
            left: auto;
        }

        .carousel-control-next {
            bottom: 3px;
            right: 0px;
            left: auto;
        }
    }

    .benefits-content {

        > .benefit {
            display: none;
        }
    }

    .photogallery-container {
        display: none;
    }

    #carouselPhotogallery {
        width: 494px;
        height: 370px;
        display: flex;
        align-items: flex-start;
        
        position: relative;
        align-self: center;
        margin: auto;

        .carousel-inner, 
        .carousel-item, 
        .active {
            height: 100%;
        }

        .active, 
        .carousel-item-next,
        .carousel-item-right {
            display: flex;
            align-items: flex-start;
        }

        .carousel-indicators {
            bottom: 0;
        }

        .carousel-control-next {
            bottom: 3px;
        }
    }
}

@media(max-width: 1550px) {    

    section {
        margin: 0 20px;
    }

    .nav-bar {
        max-width: 585px;
    }

    .header-left-bottom {
        margin: 0;
    }

    .descrip-field {
        height: 344px;
        padding: 25px;
    }

    .header-right {
        height: 625px;
    }

    #carouselExampleCaptions {

        left: 145px;

        img {
            width: 70%;
            margin-right: 40px;
        }
    }

    .carousel-item.active, 
    .carousel-item-next, 
    .carousel-item-right {
        align-items: center;
    }

    .carousel-indicators {
        bottom: 198px;
    }

    .carousel-control-next {
        bottom: 200px;
    }

    .carousel-caption {
        height: 320px;

        h5 {
            width: 410px;
            font-size: 1rem;
        }

        p {
            width: 363px;
            font-size: 0.6rem;

        }

        a {
            width: 45%;
            font-size: 0.5rem;
        }
    }

    .logo {
        display: none;
    }

    .green-form {
        height: 569px;
        flex: 0 0 auto;
    }

    .green-form-top {
        flex-direction: column;
        align-items: center;
    }

    .green-form-bottom-content {
        width: 95%;
    }

    .block {
        align-items: center;
    }

    .big-form-content {

        padding: 30px;
    }

    .map-content {
        height: 400px;
    }

    #map {
        flex: 1 2 auto;
    }

    .map-legend {
        margin-left: 15px;
    }

    .legend-content {
        width: 92%;
    }
}

@media (max-width: 1350px) {

    .big-form-block {
        flex: 0 1 auto;
    }

    .big-form-content {
        height: auto;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .big-form-container {
        width: 100%;
        // height: 95%;

        .media {
            margin-right: 5px;
        }
    }
}

@media(max-width: 1250px) {

    .directions-container {
        display: none;
    }

    .directions-sliders-container {
        min-height: 1614px + 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: auto;

        .slide {
            width: 395px;
            height: 600px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .carousel-inner,
            .carousel-item {
                height: 100%;
                width: 100%;
            }

            .active,
            .carousel-item-next,
            .carousel-item-right {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
            }

            .carousel-indicators {
                width: 50px;
                bottom: 45px;
                right: 40px;
                left: auto;
            }

            .carousel-control-next {
                bottom: 48px;
                right: 0px;
                left: auto;
            }
        }
    }

    .polina {
        margin: 100px auto 0;
    }
}

@media(max-width: 992px) {

    .main {
        background: white;
    }

    section {
        padding-top: 50px;
    }

    #carouselExampleCaptions {
        display: none;
    }

    header {
        width: 100%;
        min-height: 50px;
        position: fixed;
        z-index: 20;
        top: 0px;
        background: white;
        padding: 0 20px;
    }

    .header-left {
        width: 100%;
        height: 100%;
        // flex-direction: row;
        // justify-content: space-evenly;
    }

    .header-left-top {
        height: auto;
        width: 100%;
        margin: 10px 0 0 0;
        justify-content: space-between;

        .nav-bar {
            // width: 150px;
            // height: 250px;
            width: 30vw;
            min-width: 160px;
            height: 70vh;
            position: absolute;
            top: -100vh;
            transition: top 1s;
            z-index: 20;

            ul {
                display: flex;
                flex-direction: column;
                opacity: 1;
            }
        }
    }

    .fa-bars {
        color: $clGreen;
        order: 2;
    }

    .logo {
        width: 150px;
        height: 60px;
        display: flex;
        background: url(./images/logo-map-legend.png);
        background-size: 100% 100%;
        order: 1;
        margin: 0px;
    }

    .header-left-bottom {
        position: absolute;
        top: 30px;
        right: 50px;

        .media {
            width: 92px;
            height: auto;
            flex-direction: row;
            flex-wrap: nowrap;
            color: rgba($clGreen, 0.5);
    
            i:hover {
                color: rgba($clGreen, 1);
            }
        }
    }

    .descrip-field {
        display: none;
    }

    .header-right {
        display: none;
    }

    .block-name {
        width: auto;
        align-self: flex-end;
        font-size: 1rem;
    }

    .directions-content {
        flex-direction: column;
        align-items: center;
    }

    .info {
        width: 311px;
        flex: 0 0 auto;
    }

    .cols3-content {

        > p {
            display: none;
        }
    }

    #carouselText {
        max-width: 404px;
        width: 100%;
        height: 482px;
        display: flex;
        margin: 0 auto;

        .carousel-item > p {
            width: 100%;
            // height: 98%;
        }

        .carousel-inner,
        .carousel-item {
            height: 100%;
            width: 100%;
        }

        .active,
        .carousel-item-next,
        .carousel-item-right {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        .carousel-indicators {
            bottom: 0px;
            right: 35px;
            left: auto;
        }

        .carousel-control-next {
            bottom: 3px;
            right: 0px;
            left: auto;
        }
    }

    .benefits-content {

        > img {
            display: none;
        }
    }

    .big-form-content {
        background-size: auto 100%;
    }

    .big-form-container {
        height: auto;
        justify-content: center;
    }

    .big-form-content-bottom {
        height: 650px;

        form {
            flex-direction: column;
            flex-wrap: nowrap;

            input, textarea, div {
                width: 100%;
                font-size: 0.5rem;
            }

            textarea {
                height: 300px;
            }

            input::placeholder, textarea::placeholder {
                font-size: 0.5rem;
            }
        }

        .media {
            align-self: center;
        }
    }

    .polina {

        > img {
            width: 100%;
        }
    }

    .map-content {
        overflow: auto;
    }

    #map {
        width: 80%;
        flex: 0 0 auto;
    }
    
    footer {
        .nav-bar {
            display: none;
        }
    }
}

@media(max-width: 600px) {

    #carouselPhotogallery {
        width: 100%;

        .photos > img {
            width: 100%;
            height: 100%;
        }
    }
}