.start-big-form {
  opacity: 0;
}

.end-big-form {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 1;
}

.start-form {
  min-height: 0px !important;
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 0px !important;
          flex: 0 0 0px !important;
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
}

.start-form > * {
  opacity: 0;
}

.end-form {
  -webkit-transition: height 1s, -webkit-transform 1s, -webkit-flex-basis 1s;
  transition: height 1s, -webkit-transform 1s, -webkit-flex-basis 1s;
  transition: transform 1s, height 1s, flex-basis 1s;
  transition: transform 1s, height 1s, flex-basis 1s, -webkit-transform 1s, -webkit-flex-basis 1s, -ms-flex-preferred-size 1s;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.end-form > * {
  -webkit-transition: opacity 2s, -webkit-transform 3s;
  transition: opacity 2s, -webkit-transform 3s;
  transition: opacity 2s, transform 3s;
  transition: opacity 2s, transform 3s, -webkit-transform 3s;
  opacity: 1;
}

.start {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  opacity: 0;
}

.start > *:not(span) {
  opacity: 0;
}

.end {
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.end > *:not(span) {
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
  opacity: 1;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.display-none {
  display: none !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

html, body, .main {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Calibri';
  font-weight: normal;
  font-size: 20px;
  overflow-x: hidden;
}

.main-man {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(10%, #d2e9de), color-stop(40%, white)), url(./images/back-header-man.jpg) no-repeat;
  background: linear-gradient(rgba(255, 255, 255, 0), #d2e9de 10%, white 40%), url(./images/back-header-man.jpg) no-repeat;
}

.main-women {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(10%, #d2e9de), color-stop(40%, white)), url(./images/back-header-women.jpg) no-repeat;
  background: linear-gradient(rgba(255, 255, 255, 0), #d2e9de 10%, white 40%), url(./images/back-header-women.jpg) no-repeat;
}

.main-tea {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(10%, #d2e9de), color-stop(40%, white)), url(./images/back-header-tea.jpg) no-repeat;
  background: linear-gradient(rgba(255, 255, 255, 0), #d2e9de 10%, white 40%), url(./images/back-header-tea.jpg) no-repeat;
}

.main {
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modalWindow {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 50;
  background: rgba(0, 0, 0, 0.8);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#timetable img {
  border-radius: 2.5%;
  max-width: 90vw;
  max-height: calc(90vh - 60px);
}

#timetable div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#timetable .requestBtn {
  margin-top: 20px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  min-height: 40px;
  min-width: 190px;
  max-width: 250px;
  width: 30%;
  height: 10%;
}

.leaf-right, .leaf-left {
  position: absolute;
}

.leaf-left {
  top: 300px;
  left: 0px;
}

.leaf-right {
  top: 500px;
  right: 0;
}

section {
  max-width: 1706px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  margin: 0 3.2vw;
}

header {
  min-height: 680px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header-left {
  width: 64.5%;
  height: 625px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.header-left-top {
  max-width: 966px;
  width: 100%;
  height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 37px 0 41px 0;
}

.header-left-top .nav-bar {
  margin-left: 37px;
}

.fa-bars {
  position: relative;
  z-index: 1;
  color: white;
}

.fa-bars:hover {
  -webkit-box-shadow: 0 8px 9px 0px rgba(0, 0, 0, 0.21);
          box-shadow: 0 8px 9px 0px rgba(0, 0, 0, 0.21);
}

.nav-bar {
  height: 33px;
  width: 739px;
  font-size: 0.8rem;
  font-weight: bold;
  background: white;
  border-radius: 16px;
  -webkit-box-shadow: 0 8px 9px 0px rgba(0, 0, 0, 0.21);
          box-shadow: 0 8px 9px 0px rgba(0, 0, 0, 0.21);
  -webkit-transition: width 2s;
  transition: width 2s;
}

.nav-bar ul {
  width: 100%;
  height: 100%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  color: #828282;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  position: relative;
  z-index: 1;
}

.nav-bar ul li {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.nav-bar ul li:hover {
  color: #6ea480;
  cursor: pointer;
}

.nav-bar a {
  width: 100%;
  height: 100%;
}

.nav-bar-hide {
  width: 0px;
}

.nav-bar-hide ul {
  opacity: 0;
}

.logo {
  width: 136px;
  height: 106px;
  background-image: url(./images/logo.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: auto;
}

.header-left-bottom {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 1046px;
          flex: 0 1 1046px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 55px;
}

.header-left-bottom .requestBtn {
  display: none;
}

.descrip-field {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 444px;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  margin-left: 69px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 41px;
}

.media {
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

#mySlider {
  width: 68%;
  height: 700px;
  position: absolute;
  top: 40px;
  left: 210px;
  z-index: 1;
}

#mySlider > ul, #mySlider > a {
  position: absolute;
}

#mySlider > ul {
  width: 83px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 0px;
  bottom: 40px;
  padding: 0;
  margin: 0;
}

#mySlider > ul li {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #828282;
}

#mySlider > ul li.active {
  background: #dd3575;
}

#mySlider > a {
  font-size: 2rem;
  color: #828282;
  left: 100px;
  bottom: 15px;
}

#mySlider > a:hover {
  color: #dd3575;
}

#mySlider .flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

#mySlider .flex img, #mySlider .flex a, #mySlider .flex .text {
  opacity: 0;
}

#mySlider .item.active img, #mySlider .item.active a, #mySlider .item.active .text {
  opacity: 1;
}

#mySlider .item.active .text {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

#mySlider .item.active a {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

#mySlider .item {
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#mySlider .item img, #mySlider .item a, #mySlider .item .text {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

#mySlider .item img {
  width: 70%;
  margin-right: 50px;
}

#mySlider .item .text {
  position: absolute;
  left: 0px;
  top: 180px;
}

#mySlider .item .text h5 {
  width: 510px;
  height: auto;
  font-size: 1.5rem;
  font-weight: bold;
  display: block;
  padding: 0;
}

#mySlider .item .text p {
  width: 463px;
  height: auto;
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 22px;
}

#mySlider .item a {
  position: absolute !important;
  left: 0px;
  bottom: 155px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border-radius: 31px;
  border: 2px solid white;
  position: relative;
  z-index: 1;
  height: 9%;
  width: 25%;
  min-width: 200px;
  background-color: #6ea480;
  color: white !important;
  font-size: 0.75rem;
  -webkit-box-shadow: 0 8px 9px 0px rgba(0, 0, 0, 0.21);
          box-shadow: 0 8px 9px 0px rgba(0, 0, 0, 0.21);
}

#mySlider .item a:hover {
  cursor: default;
  background-color: #dd3575;
}

#carouselExampleCaptions {
  width: 68%;
  position: absolute;
  top: 40px;
  left: 210px;
}

#carouselExampleCaptions img {
  max-width: 850px;
  width: 70%;
  margin-right: 40px;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 710px;
}

.carousel-caption {
  height: 400px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #4f4848;
  text-align: left;
  bottom: auto;
  right: auto;
  left: 0;
  top: 22%;
  z-index: auto;
}

.carousel-caption h5 {
  width: 510px;
  height: auto;
  font-size: 1.5rem;
  font-weight: bold;
  display: block;
  padding: 0;
}

.carousel-caption p {
  width: 463px;
  height: auto;
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 22px;
}

.carousel-caption a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border-radius: 31px;
  border: 2px solid white;
  position: relative;
  z-index: 1;
  height: 15%;
  width: 50%;
  min-width: 150px;
  background-color: #6ea480;
  color: white !important;
  font-size: 0.75rem;
  -webkit-box-shadow: 0 8px 9px 0px rgba(0, 0, 0, 0.21);
          box-shadow: 0 8px 9px 0px rgba(0, 0, 0, 0.21);
  margin-top: auto;
}

.carousel-caption a:hover {
  cursor: default;
  background-color: #dd3575;
}

.carousel-indicators {
  width: 85px;
  height: 12px;
  padding: 0;
  margin: 0;
  left: 0;
  bottom: 12.8%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.carousel-indicators li {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #828282;
  background-clip: padding-box;
  opacity: 1;
}

.carousel-indicators .active {
  background-color: #dd3575;
}

.carousel-control-next {
  width: 30px;
  height: 30px;
  top: auto;
  bottom: 12.8%;
  left: 100px;
  font-size: 2rem;
  color: #828282;
  z-index: 2;
}

.carousel-control-next:hover {
  color: #dd3575;
}

.carousel-control-next:focus {
  color: #828282;
}

.carousel-control-next:focus:hover {
  color: #dd3575;
}

.carousel-control-next-icon {
  background-image: none;
}

.header-right {
  min-width: 330px;
  max-width: 483px;
  height: 720px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 28.32%;
  -webkit-box-flex: 0;
      -ms-flex: 0 2 auto;
          flex: 0 2 auto;
}

.green-form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 649px;
          flex: 0 1 649px;
  width: 100%;
  background-image: url(./images/greeFormBack.jpg);
  border: 10px solid white;
  border-top: none;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding: 0 8px 8px;
  overflow: hidden;
}

.green-form-top {
  height: 17.84%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 0.8rem;
  padding-bottom: 10%;
}

.green-form-top a {
  background-color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border-radius: 30px;
  border: 2px solid white;
  position: relative;
  z-index: 1;
  width: 179px;
  height: 43px;
  margin: 0 10px;
  min-width: 150px;
}

.green-form-top a:hover {
  cursor: default;
  background-color: rgba(255, 255, 255, 0.7);
}

.green-form-top p {
  margin: 0 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.green-form-bottom {
  width: 100%;
  height: 78.27%;
  border: 2px solid white;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.green-form-bottom-content {
  height: 77.95%;
  width: 325px;
  height: 382px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.green-form-content-top {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 153px;
          flex: 0 1 153px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.green-form-content-top div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.green-form-content-top div p {
  margin: 0;
  line-height: 1.2;
}

.green-form-content-top div p:first-child {
  font-weight: bold;
  font-size: 1.6665rem;
}

.green-form-content-top div p:nth-child(2) {
  font-size: 0.85rem;
  font-weight: bold;
}

.green-form-content-top img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.green-form-content-bottom {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.green-form-content-bottom input {
  height: 56px;
}

.green-form-content-bottom input::-webkit-input-placeholder {
  color: black;
  font-weight: bold;
  font-style: italic;
}

.green-form-content-bottom input:-ms-input-placeholder {
  color: black;
  font-weight: bold;
  font-style: italic;
}

.green-form-content-bottom input::-ms-input-placeholder {
  color: black;
  font-weight: bold;
  font-style: italic;
}

.green-form-content-bottom input::placeholder {
  color: black;
  font-weight: bold;
  font-style: italic;
}

.green-form-content-bottom input:not(.requestBtn) {
  border-radius: 30px;
  font-weight: bold;
  font-style: italic;
  color: black;
  padding: 0 20px;
  font-size: 0.85rem;
  position: relative;
  z-index: 1;
}

.requestBtn {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border-radius: 30px;
  border: 2px solid white;
  position: relative;
  z-index: 1;
  background-color: #dd3575;
  font-size: 0.85rem;
  min-height: 60px;
  min-width: 250px;
  color: white !important;
}

.requestBtn:hover {
  cursor: default;
  background-color: #6ea480;
}

.youtube {
  font-size: 1.5rem;
  font-weight: bolder;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: auto;
}

.youtube:hover {
  text-decoration: none;
  color: black;
}

.youtube p {
  width: 75px;
  font-style: italic;
  font-size: 0.6rem;
  margin: 0 0 0 5px;
}

.youtube i {
  font-size: 2rem;
  color: red;
  margin: 0 5px 0 0;
}

.block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 40px;
}

.directions-sliders-container {
  display: none;
}

.directions-content {
  width: 92%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.directions-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1244px;
          flex: 0 0 1244px;
  min-height: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  margin: auto;
}

.info {
  height: 1070px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 311px;
          flex: 0 0 311px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.info > p {
  width: 90%;
  text-align: end;
  font-size: 0.8rem;
}

.info > p span {
  font-size: 1.1rem;
}

.info > a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.vk-feedback {
  width: 192px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.5;
}

.vk-feedback:hover {
  cursor: pointer;
  opacity: 1;
}

.vk-feedback p {
  width: 81px;
  color: #94cad4;
  font-weight: bold;
  font-size: 1.1rem;
  font-style: italic;
  margin: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.give-request {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border-radius: 31px;
  border: 2px solid white;
  position: relative;
  z-index: 1;
  height: 62px;
  width: 252px;
  background: rgba(110, 164, 128, 0.5);
  font-weight: bold;
  font-size: 0.85rem;
}

.give-request:hover {
  cursor: default;
  background-color: #6ea480;
}

.direction {
  width: 395px;
  height: 538px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 20px;
}

.direction img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 20px;
}

.direction-content {
  width: 88.86%;
  height: 88.29%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  z-index: 0;
}

.direction-content h5 {
  font-size: 1.5rem;
  font-weight: bold;
  width: 50%;
  margin-bottom: 20px;
}

.direction-content p {
  font-size: 0.8rem;
  font-weight: normal;
  width: 59%;
  line-height: 17px;
}

.direction-content a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border-radius: 31px;
  border: 2px solid white;
  position: relative;
  z-index: 1;
  height: 62px;
  width: 240px;
  background-color: #6ea480;
  font-weight: bold;
  font-size: 0.85rem;
  -webkit-box-shadow: 0 8px 9px 0px rgba(0, 0, 0, 0.21);
          box-shadow: 0 8px 9px 0px rgba(0, 0, 0, 0.21);
  border: 1px solid white;
}

.direction-content a:hover {
  cursor: default;
  background-color: #dd3575;
}

.block-name {
  width: 100%;
  color: #4f4848;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 30px 0;
}

.block-name::before {
  content: "_______";
  font-weight: normal;
  margin-right: 27px;
}

.cols3-content {
  width: 92%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.8rem;
}

.cols3-content p {
  width: 30%;
  line-height: 22px;
}

#carouselText {
  display: none;
}

.black-bold-italic {
  color: #4f4848;
  font-weight: bold;
  font-style: italic;
}

#carouselBenefits {
  display: none;
}

.benefit-start {
  -webkit-transform: translateX(2000px);
          transform: translateX(2000px);
}

.benefit-end {
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.benefits {
  overflow: hidden;
}

.benefits > P {
  width: auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.benefits-content {
  width: 92%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.benefits-content > img {
  z-index: 0;
  position: absolute;
  left: 0;
}

.blueBnft {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(30, #d4f2f3));
  background: linear-gradient(rgba(255, 255, 255, 0), #d4f2f3 30);
}

.violetBnft {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(30, #ede1fb));
  background: linear-gradient(rgba(255, 255, 255, 0), #ede1fb 30);
}

.pinkBnft {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(30, #fed4e9));
  background: linear-gradient(rgba(255, 255, 255, 0), #fed4e9 30);
}

.greenBnft {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(30, #e2f6d3));
  background: linear-gradient(rgba(255, 255, 255, 0), #e2f6d3 30);
}

.orangeBnft {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(30, #f8dfd5));
  background: linear-gradient(rgba(255, 255, 255, 0), #f8dfd5 30);
}

.benefit {
  max-width: 298px;
  height: 598px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  font-size: 0.8rem;
}

.benefit p {
  width: 79.865%;
  text-align: center;
  line-height: 22px;
  margin-top: -40px;
}

.benefit p span {
  width: 63.087%;
}

.big-form {
  margin-top: 50px;
  color: white;
}

.big-form-content {
  width: 92%;
  height: 541px;
  background: url(./images/bigFormBack.jpg);
  background-size: 100% 100%;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 8px 9px 0px rgba(0, 0, 0, 0.21);
          box-shadow: 0 8px 9px 0px rgba(0, 0, 0, 0.21);
}

.big-form-container {
  width: 1140px;
  height: 353px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.big-form-container .media {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0;
}

.big-form-container > p {
  width: 100%;
  color: white;
  margin: 0;
  margin-left: 16px;
}

.big-form-content-bottom {
  height: 71%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.big-form-content-bottom form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 1007px;
          flex: 0 1 1007px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.big-form-content-bottom input[type="submit"] {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border-radius: 30px;
  border: 2px solid white;
  position: relative;
  z-index: 1;
  background: #dd3575;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.big-form-content-bottom input[type="submit"]:hover {
  cursor: default;
  background-color: #6ea480;
}

.big-form-content-bottom input {
  height: 60px;
  width: 32%;
  border-radius: 30px;
  padding: 0 20px;
}

.big-form-content-bottom input[type="checkbox"] {
  height: auto;
  width: auto;
}

.big-form-content-bottom textarea {
  width: 66%;
  height: 172px;
  border-radius: 30px;
  padding: 20px 20px;
  resize: none;
}

.big-form-content-bottom input::-webkit-input-placeholder,
.big-form-content-bottom textarea::-webkit-input-placeholder {
  color: #4f4848;
  font-weight: bold;
}

.big-form-content-bottom input:-ms-input-placeholder,
.big-form-content-bottom textarea:-ms-input-placeholder {
  color: #4f4848;
  font-weight: bold;
}

.big-form-content-bottom input::-ms-input-placeholder,
.big-form-content-bottom textarea::-ms-input-placeholder {
  color: #4f4848;
  font-weight: bold;
}

.big-form-content-bottom input::placeholder,
.big-form-content-bottom textarea::placeholder {
  color: #4f4848;
  font-weight: bold;
}

.big-form-content-bottom form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 31%;
}

.big-form-content-bottom form div p {
  width: 270px;
  height: auto;
  font-size: 11px;
  line-height: 12px;
}

.photogallery-content {
  width: 92%;
  min-height: 731px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.photogallery-container {
  height: 731px;
  width: 1020px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.photos {
  width: 494px;
  height: 348px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 20px;
  -webkit-box-shadow: 0 8px 9px 0px rgba(0, 0, 0, 0.21);
          box-shadow: 0 8px 9px 0px rgba(0, 0, 0, 0.21);
}

.photos > img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 20px;
}

.photos-content {
  width: 89.88%;
  height: 80.80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.photos-content p {
  width: 190px;
  margin: 0;
}

.photos-content a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border-radius: 31px;
  border: 2px solid white;
  position: relative;
  z-index: 1;
  font-size: 0.85rem;
  height: 62px;
  width: 240px;
  background: #6ea480;
  padding: 7px 7px 7px 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.photos-content a:hover {
  cursor: default;
  background-color: #dd3575;
}

.photos-content a p {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  text-align: center;
}

.polina {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.polina > img {
  margin-top: -55px;
}

.polina a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border-radius: 35px;
  border: 2px solid white;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0 8px 9px 0px rgba(0, 0, 0, 0.21);
          box-shadow: 0 8px 9px 0px rgba(0, 0, 0, 0.21);
  color: white !important;
  font-weight: bold;
  font-size: 0.85rem;
  padding: 8px 8px 8px 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.polina a:hover {
  cursor: default;
  background-color: rgba(255, 255, 255, 0.5);
}

.polina a p {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
}

.polina a * {
  margin: 0;
}

.polina a:hover {
  opacity: 0.5;
}

.polina a:nth-child(2) {
  width: 223px;
  background-color: #61a0be;
  margin: 10px 0;
}

.polina a:nth-child(3) {
  width: 330px;
  background-color: #9457ad;
}

.link-content {
  width: 92%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map-content {
  width: 92%;
  height: 466px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.map-content > div {
  border: 2px solid #6ea480;
  -webkit-box-shadow: 0 8px 9px 0px rgba(0, 0, 0, 0.21);
          box-shadow: 0 8px 9px 0px rgba(0, 0, 0, 0.21);
  border-radius: 25px;
}

#map {
  width: 68%;
  overflow: hidden;
}

#map .ymaps-2-1-74-map {
  width: 100% !important;
  height: 100% !important;
}

.map-legend {
  width: 30%;
  min-width: 384px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.legend-content {
  width: 361px;
  height: 361px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.legend-content img {
  width: 95%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.legend-content ul {
  list-style-type: none;
  font-weight: bold;
  margin: 5px;
  padding: 0;
}

.legend-content ul li {
  color: #6ea480;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.legend-content ul li:before {
  height: 40px;
  min-width: 8px;
  content: "";
  background: #6ea480;
  margin-right: 50px;
}

.legend-content ul li:hover {
  cursor: pointer;
  color: black;
}

.legend-content ul li:hover:before {
  color: #6ea480;
}

.legend-content ul li p {
  line-height: 22px;
}

.legend-content ul li.active {
  color: black;
}

.legend-content ul li.active:before {
  background: red;
}

footer {
  margin-bottom: 40px;
}

.footer-content {
  width: 92%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-content .nav-bar {
  background: #6ea480;
}

.footer-content ul {
  color: white;
}

.footer-content ul li:hover {
  color: black;
}

.ORMatrix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #d978cc;
}

.ORMatrix img {
  -webkit-box-shadow: 0 8px 9px 0px rgba(0, 0, 0, 0.21);
          box-shadow: 0 8px 9px 0px rgba(0, 0, 0, 0.21);
  border-radius: 20px;
}

.ORMatrix p {
  margin: 0 0 0 10px;
  font-size: 0.7rem;
}

.upBtn {
  width: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.upBtn a {
  text-decoration: none;
  width: 35px;
  height: 35px;
  background: red;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  -webkit-box-shadow: 0 8px 9px 0px rgba(0, 0, 0, 0.21);
          box-shadow: 0 8px 9px 0px rgba(0, 0, 0, 0.21);
  padding-top: 6px;
}

.upBtn a p {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-size: 3rem;
  margin: 0 7.5px 0 0;
}

.upBtn > p {
  color: red;
  font-weight: bold;
  margin: 0;
}

.arrowUp {
  width: 15px;
  height: 15px;
  border: 2px solid white;
  border-left: none;
  border-bottom: none;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (min-width: 1930px) {
  .main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1800px) {
  .directions-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .directions-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 815px;
            flex: 0 0 815px;
    min-height: 1654px;
  }
  #carouselBenefits {
    width: 298px;
    height: 640px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
  #carouselBenefits .carousel-inner,
  #carouselBenefits .carousel-item {
    width: 100%;
    height: 100%;
  }
  #carouselBenefits .active,
  #carouselBenefits .carousel-item-next,
  #carouselBenefits .carousel-item-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #carouselBenefits .carousel-indicators {
    bottom: 20px;
    right: 30px;
    left: auto;
  }
  #carouselBenefits .carousel-control-next {
    bottom: 20px;
    right: 0px;
    left: auto;
  }
  .benefits-content > .benefit {
    display: none;
  }
  .photogallery-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .polina {
    margin-top: 100px;
  }
}

@media (max-width: 1550px) {
  .block {
    width: 96%;
  }
  .nav-bar {
    max-width: 585px;
  }
  .header-left-bottom {
    margin: 0;
  }
  .header-right {
    height: 625px;
  }
  #mySlider {
    left: 145px;
  }
  #mySlider .item img {
    width: 70%;
  }
  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-right {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .carousel-indicators {
    bottom: 198px;
  }
  .carousel-control-next {
    bottom: 200px;
  }
  .carousel-caption {
    height: 320px;
  }
  .carousel-caption h5 {
    width: 410px;
    font-size: 1rem;
  }
  .carousel-caption p {
    width: 363px;
    font-size: 0.6rem;
  }
  .carousel-caption a {
    width: 45%;
    font-size: 0.5rem;
  }
  .logo {
    display: none;
  }
  .green-form {
    height: 569px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .green-form-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .green-form-bottom-content {
    width: 95%;
  }
  .block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .big-form-content {
    padding: 30px;
  }
  .map-content {
    height: 400px;
  }
  #map {
    -webkit-box-flex: 1;
        -ms-flex: 1 2 auto;
            flex: 1 2 auto;
  }
  .map-legend {
    margin-left: 15px;
  }
  .legend-content {
    width: 92%;
  }
}

@media (max-width: 1350px) {
  .big-form-content {
    height: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .big-form-container {
    width: 100%;
  }
  .big-form-container .media {
    margin-right: 5px;
  }
}

@media (max-width: 1250px) {
  #mySlider .text h5 {
    width: 300px;
    font-size: 1rem;
  }
  #mySlider .text p {
    width: 450px;
    font-size: 0.7rem;
  }
  #mySlider .item a {
    font-size: 0.6rem;
  }
  .directions-container {
    display: none;
  }
  .directions-sliders-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
  }
  .directions-sliders-container .slide {
    width: 395px;
    height: 560px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 25px;
  }
  .directions-sliders-container .slide .carousel-item {
    height: auto;
  }
  .directions-sliders-container .slide .active,
  .directions-sliders-container .slide .carousel-item-next,
  .directions-sliders-container .slide .carousel-item-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .directions-sliders-container .slide .carousel-indicators {
    width: 50px;
    bottom: 8px;
    right: 40px;
    left: auto;
  }
  .directions-sliders-container .slide .carousel-control-next {
    bottom: 8px;
    right: 0px;
    left: auto;
  }
  .photogallery-container {
    height: 1452px;
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1100px) {
  .big-form-content {
    background-size: auto 100%;
  }
  .big-form-container {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .big-form-container .block-name {
    width: auto;
    margin: 0;
    font-size: 0.8rem;
  }
  .big-form-container .block-name:before {
    content: "";
    margin: 0;
  }
  .big-form-content-bottom {
    height: 650px;
  }
  .big-form-content-bottom form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .big-form-content-bottom form input, .big-form-content-bottom form textarea, .big-form-content-bottom form div {
    width: 100%;
    font-size: 0.5rem;
  }
  .big-form-content-bottom form textarea {
    height: 300px;
  }
  .big-form-content-bottom form input::-webkit-input-placeholder, .big-form-content-bottom form textarea::-webkit-input-placeholder {
    font-size: 0.5rem;
  }
  .big-form-content-bottom form input:-ms-input-placeholder, .big-form-content-bottom form textarea:-ms-input-placeholder {
    font-size: 0.5rem;
  }
  .big-form-content-bottom form input::-ms-input-placeholder, .big-form-content-bottom form textarea::-ms-input-placeholder {
    font-size: 0.5rem;
  }
  .big-form-content-bottom form input::placeholder, .big-form-content-bottom form textarea::placeholder {
    font-size: 0.5rem;
  }
  .big-form-content-bottom form div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .big-form-content-bottom .media {
    display: none;
  }
}

@media (max-width: 992px) {
  .leaf-left, .leaf-right {
    display: none;
  }
  .main {
    background-size: auto auto;
    background-position: top right;
  }
  section {
    margin: 0;
  }
  #mySlider {
    position: relative;
    width: 100%;
    left: auto;
    top: auto;
    overflow: hidden;
  }
  #mySlider > ul, #mySlider > a {
    bottom: auto;
    display: none;
  }
  #mySlider > ul {
    top: 98px;
    left: 20px;
  }
  #mySlider > a {
    top: 75px;
    left: 120px;
  }
  #mySlider .item {
    overflow: hidden;
  }
  #mySlider .item img {
    position: absolute;
    right: -220px;
    width: 700px;
    margin: 0;
  }
  #mySlider .item a, #mySlider .item .text {
    left: 15px;
  }
  #mySlider .item .text {
    top: 100px;
  }
  #mySlider .item .text h5 {
    width: 250px;
    font-size: 1rem;
  }
  #mySlider .item .text p {
    width: 200px;
  }
  #mySlider .item .text p span {
    display: none;
  }
  #mySlider .item a {
    top: 360px;
  }
  header {
    width: 100%;
    min-height: auto;
    height: 80px;
    position: fixed;
    z-index: 20;
    top: 0px;
    background: white;
    padding: 0 20px;
  }
  .header-left {
    width: 100%;
    height: 100%;
  }
  .header-left-top {
    height: auto;
    width: 100%;
    margin: 10px 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-left-top .nav-bar {
    width: 100vw;
    max-width: none;
    min-width: 160px;
    height: calc(100vh - 80px);
    position: absolute;
    top: 100%;
    left: -10000px;
    -webkit-transition: left 0.2s;
    transition: left 0.2s;
    z-index: 20;
    margin: 0;
    border-radius: 0;
    background: #f7f7f7;
  }
  .header-left-top .nav-bar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    opacity: 1;
    font-size: 1rem;
  }
  .fa-bars {
    color: #6ea480;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .logo {
    width: 150px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: url(./images/logo-map-legend.png);
    background-size: 100% 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0px;
  }
  .header-left-bottom {
    position: absolute;
    top: 30px;
    right: 50px;
  }
  .header-left-bottom .media {
    width: 92px;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    color: rgba(110, 164, 128, 0.5);
  }
  .header-left-bottom .media i:hover {
    color: #6ea480;
  }
  .descrip-field {
    display: none;
  }
  .header-right {
    display: none;
  }
  .block-name {
    width: auto;
    -ms-flex-item-align: end;
        align-self: flex-end;
    font-size: 1rem;
    margin-right: 10px;
  }
  .directions-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .info {
    width: 311px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .cols3-content > p {
    display: none;
  }
  #carouselText {
    max-width: 404px;
    width: 100%;
    height: 482px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
  #carouselText .carousel-item > p {
    width: 100%;
  }
  #carouselText .carousel-inner,
  #carouselText .carousel-item {
    height: 100%;
    width: 100%;
  }
  #carouselText .active,
  #carouselText .carousel-item-next,
  #carouselText .carousel-item-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #carouselText .carousel-indicators {
    bottom: 3px;
    right: 35px;
    left: auto;
  }
  #carouselText .carousel-control-next {
    bottom: 3px;
    right: 0px;
    left: auto;
  }
  .benefits-content > img {
    display: none;
  }
  .polina > img {
    width: 100%;
  }
  .map-content {
    overflow: auto;
  }
  #map {
    width: 80%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
  footer .nav-bar {
    display: none;
  }
}

@media (max-width: 664px) {
  footer {
    margin: 20px 0;
  }
  .footer-content {
    height: 100px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .ORMatrix {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .upBtn {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 600px) {
  .block-name {
    font-size: 0.8rem;
  }
  .big-form-container {
    height: 700px;
  }
  .big-form-content-bottom {
    width: 100%;
  }
  .big-form-content-bottom form div {
    height: 130px;
  }
  .big-form-content-bottom form div p {
    width: 95%;
  }
  .directions-sliders-container .slide {
    height: 500px;
  }
  .directions-sliders-container .slide .carousel-inner {
    height: 96%;
  }
  .directions-sliders-container .slide .carousel-item {
    height: 100%;
  }
  .directions-sliders-container .slide .direction {
    height: 100%;
  }
  .directions-sliders-container .slide .direction > img {
    width: 100%;
    height: 100%;
  }
  .directions-sliders-container .slide .direction .direction-content {
    font-size: 1rem;
  }
  .photogallery-container {
    width: 100%;
  }
  .photos {
    width: 100%;
  }
  .photos > img {
    width: 100%;
    height: 100%;
  }
  .map-content {
    height: 800px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #map {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    width: 100%;
  }
  .map-legend {
    width: 100%;
    height: 250px;
    min-width: 0px;
    margin: 0 0 10px 0;
  }
  .map-legend img {
    display: none;
  }
  .legend-content {
    height: 92%;
  }
  .legend-content ul {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .legend-content ul li:before {
    margin-right: 10px;
  }
  .legend-content ul p {
    margin: auto 0;
  }
}

@media (max-width: 450px) {
  .directions-sliders-container .slide {
    width: 100%;
  }
  .direction {
    width: 100%;
  }
  .direction-content h5 {
    font-size: 1rem;
  }
  .direction-content p {
    font-size: 0.7rem;
  }
  .direction-content a {
    font-size: 0.7rem;
  }
  #carouselText {
    height: 548px;
  }
  .big-form.block {
    width: 100%;
  }
  .big-form-container {
    height: 600px;
  }
  .big-form-content {
    width: 100%;
    border-radius: 0px;
    background-position: center center;
    padding: 4%;
  }
  .big-form-content-bottom {
    height: 92%;
  }
  .big-form-content-bottom form textarea {
    height: 200px;
  }
  .photogallery-container {
    height: 1260px;
  }
  .photos {
    height: 300px;
  }
  .polina a:nth-child(2) {
    width: 100%;
  }
  .polina a:nth-child(3) {
    width: 100%;
  }
  .ORMatrix {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 375px) {
  .header-left-bottom .media {
    width: 70px;
    font-size: 0.8rem;
  }
  .info {
    width: 100%;
  }
  .direction a {
    width: 200px;
    height: 40px;
  }
  #carouselText {
    height: 620px;
  }
  #carouselBenefits {
    width: 100%;
  }
  #carouselBenefits .carousel-inner,
  #carouselBenefits .carousel-item,
  #carouselBenefits .benefit {
    width: 100%;
  }
  #carouselBenefits .benefit img {
    width: 100%;
  }
  #carouselBenefits .benefit p {
    margin: auto 0;
  }
  .big-form-content {
    width: auto;
  }
}
/*# sourceMappingURL=styles.css.map */